.App{
  background-color:darkcyan;
}

h2{
  color: darkcyan;
}

.container{
  background-color: aliceblue;
  min-height: 800px;
  display: flex;
  justify-content: center;

}


.nav-items{
  padding: 20px;
}

.logo{
  width: 100px;
}

.login{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 50px;
  width: 70%;
  height: 400px;
  background-color: white;
}

.login-form{
  margin: 10px;
  width: 80%;
}

.login-button{
  background-color: darkcyan;
  border-color: aliceblue;
  color: white;
}

.login-button:hover{
  background-color:aqua;
}
